@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Oxanium', cursive;
}

body {
  overflow: hidden;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

#TextBox {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0px;
  top: 0;
  left: 0;
  display: block;
}

.centerBox {
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 30%;
  height: 10%;
  width: 40%;
  display: flex;
  filter: blur(2px);

  border: 2px solid #333;
  border-radius: 10px;
}

.distance {
  text-align: center;
  color: white;
}
