@charset "utf-8";

body {
  margin: 0;
  overflow: hidden;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

#TextBox {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0px;
  top: 0;
  left: 0;
  display: block;
}
